body {
    margin: 0;
}

h1 {
    font-family: 'Young Serif', serif;
    font-size: 60px;
    line-height: 1em;
    text-align: right;
}

p {
    font-family: sans-serif;
}

section {
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 60px;
}

.left-column {
    flex: 40%;
}

.right-column {
    flex: 60%;
}


button {
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-top: 16px;
}

/* monochromatic */

.monochromatic {
    background-color: #602437;
    color: #ff9ebb;
}

.monochromatic h1 {
    color: #b9375e;
}

.monochromatic button {
    background-color: #b9375e;
}

.monochromatic button:hover {
    background-color: #ff9ebb;
}

/* triadic */

.triadic {
    background-color: #DB52FF;
    color: #38FFB8;
}

.triadic h1 {
    color: #FFD46B;
}

.triadic button {
    background-color: #FFD46B;
    color: #DB52FF;
}

.triadic button:hover {
    background-color: #38FFB8;
}

/* complementary */

.complementary {
    background-color: #B37677;
    color: #FFDBDC;
}

.complementary h1 {
    color: #C2FFD3;
}

.complementary button {
    background-color: #C2FFD3;
    color: #B37677;
}

.complementary button:hover {
    background-color: #FFDBDC;
}
